*{
  text-align: center;
}
nav {
  display: flex;
  background-color: grey;
  color: white;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;

}
.nav-items
{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}